
body {
  margin:0;
  font-family: 'Montserrat', 'sans-serif';
  box-sizing: border-box;
}

p, blockquote {
  font-size: 0.9em;
  line-height: 1.6em;
}

ul {
  list-style:none;
  margin:0;
  padding:0;
}

.container {
  text-align: center;
  padding: .8em 1.2em;
}

.logo {
  width: 125px;
}

header {
  display:flex;
  justify-content: space-between;
}

.hide-mobile {
  display:none;
}

.menu {
  width:35px;
  margin-top:20%;
}

.hero {
  width:70%;
  margin: 1em auto 2em 25%;
}

h1, .subhead {
  position: relative;
  z-index:3;
}

.subhead {
  font-size:1em;
}

.blue-container {
  background-color:#2BC5FF;
  color:#fff;
  padding: 3em 0 2em;
  transform: skewy(-3deg);
}
.blue-container h2{
    
  margin:0 0 12% 0;
  font-weight:normal;
}

.blue-container ul {
  transform:skewY(3deg);
}

.blue-container ul li {
  margin-bottom: 3em;
}

.blue-container ul li p {
  padding: 0 .5em;
  }

  .blue-container img {

    width:25%;
  }

  .gray-container {
    background: #EEEEEE;
    padding: 4em 0 2em;
    margin-top: -5%;
  }
  .gray-container h2{
    
    margin:0 0 12% 0;
    font-weight:normal;
  }
  .gray-container ul li:first-child {
    margin-bottom: 2em;
  }

  figure {
    margin:0;
    padding:0;
  }

  figcaption{
    font-weight: bold;
    color:#2BC5FF;
  }

  h2 {
    margin-top:12%;
    margin-bottom: 7%;
  }

  .cta {
    width:60%;
    margin-bottom: 15%;
  }

  .footer-container {
    width:100%;
    background: #3D444A;
    color: #fff;
    padding: 3em 0;
    transform: skewY(3deg);
  }

  .footer-container .container {
    transform: skewY(-3deg);
  }

  ul.footer-links {
    margin:0 auto;
  }

  ul.footer-links li {
    display:inline-block;
  }

  ul.footer-links li a {
    color:#9d9d9d;
    font-size: .8em;
  }

  nav ul {
    position:fixed;
    width:60%;
    top: 0;
    right:0;
    text-align: left;
    background: #3D444A;
    height:60%;
    z-index:5;
    padding-top: 3em;

  }

  nav ul li a{
    color:white;
    text-decoration: none;
    display:block;
    width:100%;
    padding:1em 2em;
  }
  nav ul li a:hover {
    background-color: white;
    color:black;
  }

  .exit-btn {
    text-align: right;
    margin-top: -1.5em;
    margin-bottom:1em;
    padding:0 1.5em;
  }

  .exit-btn img {
    width:15%;
    cursor: pointer;
  }

  @media only screen and (min-width: 650px) {
    .subhead {
      margin-bottom: 10%; 
    }
    .hero {
      width:35%;
      padding: 1em 15% 1em 0;     
    }
    h1 {
      font-size:2.6em;
      margin:0;
    }

    h2 {
      font-size: 2em;
      padding-top: 1.6em;
    }

    .blue-container ul {
      display:flex;
     
    }

    .blue-container h2{

      transform: skewY(3deg);
      padding-top: 1em;
    }
    .blue-container ul li img {
      width:40%;
     
    }

    .blue-container ul li:nth-child(2){
    padding-top:-5em;
    }

    .blue-container ul li:nth-of-type(odd){
      padding-top:2.7em;
    }

    .blue-container ul li:nth-child(2) img{
      width:70%;
      margin:0;

    }

    .gray-container ul {
    display:flex;
    }
  
  }